*{
	font-family: 'Poppins', sans-serif;
}

.logo{
    transition: .5s;
}

.logo:hover{
    transform: scale(1.02);
}

.logo-link img{
    max-width:200px ;
    transition: .5s;
}

.text-center{
    margin-bottom: 50px;
}


.container h2{
    padding: 30px;
}

.mg-top-20{
    margin-top: var(--mg-top-20);
}

.mb-3 .form-control{
    padding-left:70px ;
}

a{
    text-decoration: none;
    color: white;
}

i{
    font-size: 2rem;
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.8s;
}

.fa-brands{
    margin-top: 20px;
}

.fa-facebook:hover{
    color: rgb(3, 62, 189);
    background-color: white;
}

.fa-instagram:hover{
    color: hsl(9, 91%, 56%);
    background-color: white;
}

.fa-twitter:hover{
    color: rgb(34, 99, 240);
    background-color: white;
}

.fa-tiktok:hover{
    color: rgb(13, 13, 14);
    background-color: rgba(223, 130, 8, 0.486);
    text-shadow: 2px 2px 2px 2px red;
}

.fa-github:hover{
    color: rgb(3, 3, 3);
    background-color: white;
}

.fa-linkedin:hover{
    color: rgb(3, 62, 189);
    background-color: white;
}


i:active{
    transform: scale(0.8);
}

.icon{
    color: #333;
    position: relative;
    bottom: 40px;
}


.form{
    width: 70%;
    margin: 0px auto;
}

.validation{
    position: relative;
    bottom: 35px;
}


.btn{
    background-color: white;
    color: black;
    transition: 0.7s;
    margin-top: 20px;
}

.btn:hover{
    transform: scale(1.02);
}

.btn:active{
    transform: scale(0.9);
}

.alert{
	width: 80%;
	margin: 0 auto;
}


/* responsividade com @media */
@media(max-width:900px){
    .form{
        width: 90%;
    }
}

@media(max-width:550px){
    .form{
        width: 95%;
    }
}